* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    padding: 8px 16px;
    height: 100vh;
    width: 100%;
    background: #f9f7f5;
}

.images {
    width: 50%;
}

main {
    display: flex;
    gap: 12px;
    width: 100%;
}

.big_image img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 4px 5px 12px rgb(246, 215, 159);
}
.sm_image {
    display: flex;
    gap: 16px;
}
.sm_image img{
    height: 30vh;
    width: 33.33333333333333%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 4px 5px 12px rgb(246, 215, 159);
}
.description {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px 12px;
    background: #00000015;
    border-radius: 8px;
    box-shadow: 4px 5px 12px rgb(246, 215, 159);
}
.description div {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
.description div h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    color: rgb(246, 165, 15);
}
.description div p {
    text-align: center;
    color: gray;
    font-size: 20px;
    font-weight: 500;
}

.amount {
    background: #f9f7f5;
    padding: 8px 12px ;
    border-radius: 5px;
    margin-top: 14px;
}

.money {
    font-size: 32px;
    color: rgb(246, 165, 15);
    font-weight: 600;
}

.buttons button {
    border: none;
    padding: 2px 12px;
    border-radius: 2px;
    background: rgb(15, 246, 46);
    font-size: 24px;
    font-weight: 500;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.pair {
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.buttons .blue {
    background: rgb(15, 173, 246);
}