@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-gray-950 text-white w-full h-full
}

.bg-image {
    background-image: url("/src/assets/images/home-bg.jpg");
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    /* position: relative; */
}

.title {
    @apply text-orange-500 font-bold text-center md:text-5xl text-2xl
}
